<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="" /> 
    <meta property="og:title" content="MASATO Portfolio" /> 
    <meta property="og:description" content="まさとのポートフォリオサイト" />
    <meta property="og:image" content="https://https://www.jp-funda.com/static/images/jp_funda_ogp.jpeg"/> 
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@xFzdiHLW63ogLYr">
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Portfolio</title>
</head>

<section class="top">
    <h1>まさとのポートフォリオ</h1>
</section>

<body>
    
</body>
</html>